<?xml version="1.0"?>
<!--
/**
 * Copyright © Panth Infotech. All rights reserved.
 * Frontend Events Configuration
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="layout_load_before">
        <observer name="pricedropalert_add_placement_layout_handle" instance="Panth\PriceDropAlert\Observer\AddPlacementLayoutHandle"/>
    </event>
</config>
